body {
    margin: 2px;
    padding: 0;
}
.personal_info{
        width: 25rem;
        max-width: 80% auto;
        margin: 5rem auto;
}
.student_info{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: -20px;
}
.form-control label,
.form-control input,
.form-control textarea {
    width: 100%;
    display: block;
}
.form-control input {
    margin-bottom: 5px;
}
.form-action {
    text-align: center;
    margin-top: 10px;
}
.form-action button{
      background-color: black;
      font: inherit;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 2px 10px;
      color: white;
      cursor: pointer;
      width: 50%;
}

.form-action button:hover {
    background-color: seagreen;
    transform: scale(1.01);
}

















/* .sign-up {
    right: 0;
    position: absolute;
    max-width: 100px;
    width: 100%;
    background-color: navy;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.sign-up a {
    color: white;
    text-align: center;
}
.sign-up:hover {
    background-color: lightblue;
    transform: scale(1.13);
}
.sign-up a:hover {
    color: black;
} */